<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HTML Intro</title>
</head>

<body>
  <nav>
    <ul>
      <li>
        <!-- TODO: Add link to form.html -->
        <a>Basics</a>
      </li>
      <li>
        <a href="#">Form</a>
      </li>
    </ul>
  </nav>
  <div>
    <h1> HTML Forms </h1>
    <p>Web forms are one of the main points of interaction between a user and a web site or application. Forms allow users to enter data, which is generally sent to a web server for processing and storage, or used on the client-side to immediately update
    the interface in some way.</p>
  </div>
  <div>
    <form>
      <div>
        <label for="email">Email address:</label>
        <!-- Insert input field for email address-->
      </div>
      <div>
        <label for="pwd">Password:</label>
        <!-- Insert input field for password -->
      </div>
      <div>
        <label for="year">Year:</label>
        <!-- Insert a dropdown menu for year -->
      </div>
      <div>
        <label for="pwd">Gender:</label>
        <div>
          <div>
            <!-- Insert a radiobutton for male -->
          </div>
          <div>
            <!-- Insert a radiobutton for female -->
          </div>
          <div>
            <!-- Insert a radiobutton for other -->
          </div>
        </div>
      </div>
      <div>
        <label>
          <!-- Add checkbox here -->
        </label>
      </div>
      <!-- Add SUBMIT Button -->
      </form>
    </div>
  </body>

  </html>